@{
    ViewData["Title"] = "Daftar Barang";
}

<h2>@ViewData["Title"]</h2>

<p>Ini adalah halaman awal untuk modul manajemen barang gudang.</p>

@model List<GudangWebApp.Models.Barang>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.KodeBarang</td>
            <td>@item.NamaBarang</td>
            <td>@item.JumlahStok</td>
            <td>@item.Kategori</td>
        </tr>
    }
</table>

